biopython==1.70
certifi==2017.4.17
chardet==3.0.4
future==0.16.0
idna==2.5
joblib==0.11
numexpr==2.6.2
numpy==1.22.0
OLCTools==0.2.1
pandas==0.20.3
pkg-resources==0.0.0
pkginfo==1.4.1
pycurl==7.43.0
python-dateutil==2.6.1
pytz==2017.2
quast==4.5
requests==2.18.1
requests-toolbelt==0.8.0
simplejson==3.11.1
sistr-cmd==1.0.2
six==1.10.0
tables==3.4.2
tqdm==4.14.0
twine==1.9.1
urllib3==1.21.1
XlsxWriter==0.9.8
